<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lircayhub"
        tools:targetApi="31">
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="PREFERENCIAS"
            android:parentActivityName=".FuncionesApp"/>
        <activity
            android:name=".UpdateActivity"
            android:exported="false"
            android:parentActivityName=".inventory_product" />
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="AÑADIR PRODUCTO"
            android:parentActivityName=".inventory_product" />
        <activity
            android:name=".inventory_product"
            android:exported="false"
            android:label="INVENTARIO PROD."
            android:parentActivityName=".FuncionesApp" />
        <activity
            android:name=".lista_productos_db"
            android:label="AÑADIR PRODUCTO"
            android:parentActivityName=".lista_productosBD"></activity>
        <activity
            android:name=".lista_productosBD"
            android:exported="false"
            android:label="LISTA PRODUCTOS"
            android:parentActivityName=".FuncionesApp" />
        <activity
            android:name=".NoteDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity_lista_gestion_productos"
            android:exported="false"
            android:label="LUGARES INTERÉS"
            android:parentActivityName=".FuncionesApp" />
        <activity
            android:name=".Activity_recordatorios"
            android:exported="false"
            android:label="RECORDATORIOS"
            android:parentActivityName=".FuncionesApp" />
        <activity
            android:name=".Activity_inventario_productos"
            android:exported="false" />
        <activity
            android:name=".Activity_lista_productos"
            android:exported="false" />
        <activity
            android:name=".Activity_lugares_interes"
            android:exported="false" />
        <activity
            android:name=".ActivityListaCompras"
            android:exported="false"
            android:label="LISTA COMPRAS"
            android:parentActivityName=".FuncionesApp" />
        <activity
            android:name=".FuncionesApp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerActivity"
            android:label="DETALLES"
            android:parentActivityName=".lista_productosBD">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".lista_productosBD" />
        </activity>
        <activity
            android:name=".EditarActivity"
            android:parentActivityName=".lista_productosBD">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".lista_productosBD" />
        </activity>
    </application>

</manifest>